<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">BudgetApp</h5>
                <p class="grey-text text-lighten-4">Manage your finances and track your budget with ease.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Budget Tracker</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
             Created by @ahroniy.&copy; 2023 BudgetApp. Designed by:  Gregoire Vella on Behance. All rights reserved.
            <a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
        </div>
    </div>
</footer>
