<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="container">
  <div class="nav-wrapper">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right">
     
       <% if user_signed_in? %>
        <li>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
       <% else %> 
          <%= link_to new_user_session_path,id: 'nav-login-link'  do %>
        <i class="material-icons outlined">login</i>
        <% end %>
      <% end %>
    </ul>
    
  </div>
  </div>
</nav>
        